{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Список слов</h3>
            </div>
            <div class="panel-body">

                {% for word in words %}
                    <p><a href="{{ path('app_main_show',{'word_id':word.id}) }}">{{ word.translate('ru').text }}</a></p>
                {% endfor %}

                <h3>Добовте новое слово</h3>
                {{ form(formWord) }}

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}
